.vscode/launch.json
poc-fiber.log
cert.pem
key.pem
poc-fiber
docker/container/grafana/grafana.db
docker/container/loki/chunks/loki_cluster_seed.json
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NDk0Yjg5NjU6MTk2NDk0YzA1YjE6MTRjMzRlMTQ=
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NDk4ZDY5ZjU6MTk2NDk4ZDZjMjE6YjgyOWZhMGI=
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NGQ4MzNmNjY6MTk2NjFmYjZmNmY6MWNjYTVhMWU=
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NjdhZWZmOWQ6MTk2NjdjYjUyYTk6M2YyMmVjNzI=
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NjI5ODhjY2Y6MTk2NjJhMTYyYjM6YzA0YjE1MjA=
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2NjJjYmFmODA6MTk2NjJkOTAyMmI6NjExODM1NTQ=
docker/container/loki/chunks/index/index_20196/fake/1744993050720250480-compactor-1744986409317-1744990727201-ea0de720.tsdb.gz
docker/container/loki/chunks/index/index_20197/fake/1745407523325316046-compactor-1745057169254-1745400590191-c3cb0d49.tsdb.gz
docker/container/loki/chunks/index/index_20198/fake/1745407523283590611-compactor-1745057169254-1745400590191-c3cb0d49.tsdb.gz
docker/container/loki/chunks/index/index_20199/fake/1745407523245069121-compactor-1745057169254-1745400590191-c3cb0d49.tsdb.gz
docker/container/loki/chunks/index/index_20200/fake/1745407523204296525-compactor-1745057169254-1745400590191-c3cb0d49.tsdb.gz
docker/container/loki/chunks/index/index_20201/fake/1745497281660533230-compactor-1745057169254-1745415111211-5990568a.tsdb.gz
docker/container/loki/chunks/index/index_20202/fake/1745500881717804457-compactor-1745496244125-1745498100393-22471001.tsdb.gz
docker/container/loki/tsdb-shipper-active/uploader/name
docker/container/loki/tsdb-shipper-active/wal/filesystem_2020-10-24/1745511316/00000000
docker/container/loki/tsdb-shipper-cache/index_20196/fake/1744993050720250480-compactor-1744986409317-1744990727201-ea0de720.tsdb
docker/container/loki/tsdb-shipper-cache/index_20197/fake/1745407523325316046-compactor-1745057169254-1745400590191-c3cb0d49.tsdb
docker/container/loki/wal/00000126
docker/container/loki/wal/checkpoint.000125/00000000
docker/container/prometheus/lock
docker/container/prometheus/queries.active
docker/container/prometheus/01JS4KD25KMAN1GBAT4P8XQ7KB/index
docker/container/prometheus/01JS4KD25KMAN1GBAT4P8XQ7KB/meta.json
docker/container/prometheus/01JS4KD25KMAN1GBAT4P8XQ7KB/tombstones
docker/container/prometheus/01JS4KD25KMAN1GBAT4P8XQ7KB/chunks/000001
docker/container/prometheus/01JSGZF9R7FJP8R75DKZC6YFA6/index
docker/container/prometheus/01JSGZF9R7FJP8R75DKZC6YFA6/meta.json
docker/container/prometheus/01JSGZF9R7FJP8R75DKZC6YFA6/tombstones
docker/container/prometheus/01JSGZF9R7FJP8R75DKZC6YFA6/chunks/000001
docker/container/prometheus/01JSH6B9MVQMP0Y5HS479JJ2EV/index
docker/container/prometheus/01JSH6B9MVQMP0Y5HS479JJ2EV/meta.json
docker/container/prometheus/01JSH6B9MVQMP0Y5HS479JJ2EV/tombstones
docker/container/prometheus/01JSH6B9MVQMP0Y5HS479JJ2EV/chunks/000001
docker/container/prometheus/01JSM29S3MY5NKWKAVZ8BAEJE2/index
docker/container/prometheus/01JSM29S3MY5NKWKAVZ8BAEJE2/meta.json
docker/container/prometheus/01JSM29S3MY5NKWKAVZ8BAEJE2/tombstones
docker/container/prometheus/01JSM29S3MY5NKWKAVZ8BAEJE2/chunks/000001
docker/container/prometheus/01JSM51NQH09YHXPE2BH33WGGW/index
docker/container/prometheus/01JSM51NQH09YHXPE2BH33WGGW/meta.json
docker/container/prometheus/01JSM51NQH09YHXPE2BH33WGGW/tombstones
docker/container/prometheus/01JSM51NQH09YHXPE2BH33WGGW/chunks/000001
docker/container/prometheus/01JSM51NXX5MY258XP3G1QWGN4/index
docker/container/prometheus/01JSM51NXX5MY258XP3G1QWGN4/meta.json
docker/container/prometheus/01JSM51NXX5MY258XP3G1QWGN4/tombstones
docker/container/prometheus/01JSM51NXX5MY258XP3G1QWGN4/chunks/000001
docker/container/prometheus/chunks_head/000006
docker/container/prometheus/chunks_head/000007
docker/container/prometheus/wal/00000021
docker/container/prometheus/wal/00000022
docker/container/prometheus/wal/00000023
docker/container/prometheus/wal/checkpoint.00000020/00000000
docker/container/prometheus/wbl/00000023
docker/openbao_unseal_key.txt
docker/container/grafana/plugins/grafana-lokiexplore-app/3d96a93cfcb32df74eef.svg
docker/container/grafana/plugins/grafana-lokiexplore-app/82.js
docker/container/grafana/plugins/grafana-lokiexplore-app/82.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/115.js
docker/container/grafana/plugins/grafana-lokiexplore-app/115.js.LICENSE.txt
docker/container/grafana/plugins/grafana-lokiexplore-app/115.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/328.js
docker/container/grafana/plugins/grafana-lokiexplore-app/328.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/470.js
docker/container/grafana/plugins/grafana-lokiexplore-app/470.js.LICENSE.txt
docker/container/grafana/plugins/grafana-lokiexplore-app/470.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/546.js
docker/container/grafana/plugins/grafana-lokiexplore-app/546.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/826.js
docker/container/grafana/plugins/grafana-lokiexplore-app/826.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/854.js
docker/container/grafana/plugins/grafana-lokiexplore-app/854.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/919.js
docker/container/grafana/plugins/grafana-lokiexplore-app/919.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/944.js
docker/container/grafana/plugins/grafana-lokiexplore-app/944.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/1759fd27b2c9f73dea05.wasm
docker/container/grafana/plugins/grafana-lokiexplore-app/649058283f564041551d.wasm
docker/container/grafana/plugins/grafana-lokiexplore-app/CHANGELOG.md
docker/container/grafana/plugins/grafana-lokiexplore-app/LICENSE
docker/container/grafana/plugins/grafana-lokiexplore-app/MANIFEST.txt
docker/container/grafana/plugins/grafana-lokiexplore-app/module.js
docker/container/grafana/plugins/grafana-lokiexplore-app/module.js.map
docker/container/grafana/plugins/grafana-lokiexplore-app/plugin.json
docker/container/grafana/plugins/grafana-lokiexplore-app/README.md
docker/container/grafana/plugins/grafana-lokiexplore-app/img/drilldown-features.png
docker/container/grafana/plugins/grafana-lokiexplore-app/img/explore-logs-features.jpeg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/fields.png
docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_err_light.svg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_err.svg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_loki.svg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/logo.svg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/patterns.png
docker/container/grafana/plugins/grafana-lokiexplore-app/img/service_logs.jpg
docker/container/grafana/plugins/grafana-lokiexplore-app/img/table.png
docker/container/grafana/plugins/grafana-pyroscope-app/944c737f589d02ecf603.svg
docker/container/grafana/plugins/grafana-pyroscope-app/CHANGELOG.md
docker/container/grafana/plugins/grafana-pyroscope-app/e6c722427cfa8715e19d.svg
docker/container/grafana/plugins/grafana-pyroscope-app/e79edcfbe2068fae2364.svg
docker/container/grafana/plugins/grafana-pyroscope-app/LICENSE
docker/container/grafana/plugins/grafana-pyroscope-app/MANIFEST.txt
docker/container/grafana/plugins/grafana-pyroscope-app/module.js
docker/container/grafana/plugins/grafana-pyroscope-app/module.js.LICENSE.txt
docker/container/grafana/plugins/grafana-pyroscope-app/module.js.map
docker/container/grafana/plugins/grafana-pyroscope-app/plugin.json
docker/container/grafana/plugins/grafana-pyroscope-app/README.md
docker/container/grafana/plugins/grafana-pyroscope-app/img/8cdf4d2e2df8326311ab.gif
docker/container/grafana/plugins/grafana-pyroscope-app/img/9c9cdd5175734d579007.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/58f0b0e1cfa063e4b662.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/61b4cf746a6f58780f27.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/bafee50693eb02088442.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/decrease-latency.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/diff-view-how-to.gif
docker/container/grafana/plugins/grafana-pyroscope-app/img/hero-image.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/logo.svg
docker/container/grafana/plugins/grafana-pyroscope-app/img/reduce-costs.png
docker/container/grafana/plugins/grafana-pyroscope-app/img/resolve-incidents.png
docker/container/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-dark.svg
docker/container/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-light.svg
docker/container/grafana/plugins/grafana-pyroscope-app/shared/infrastructure/profile-metrics/profile-metrics.json
docker/container/loki/chunks/fake/60b649c6a156ad3e/MTk2Njg5ZGMxNTA6MTk2Njg5ZGQ2ZTc6MmY4NTU0YmI=
docker/container/loki/chunks/index/index_20202/1745574491-522808464b39-1744907960041646847.tsdb.gz
docker/container/loki/tsdb-shipper-active/multitenant/index_20202/1745574491-522808464b39-1744907960041646847.tsdb
docker/container/loki/tsdb-shipper-active/wal/filesystem_2020-10-24/1746221450/00000000
docker/container/loki/wal/00000134
docker/container/loki/wal/00000135
docker/container/loki/wal/00000136
docker/container/loki/wal/checkpoint.000133/00000000
docker/container/loki/wal/checkpoint.000135.tmp/00000000
.gitignore
docker/container/prometheus/01JTEP3HNYZM87SWFKF5YWJYKE/index
docker/container/prometheus/01JTEP3HNYZM87SWFKF5YWJYKE/meta.json
docker/container/prometheus/01JTEP3HNYZM87SWFKF5YWJYKE/tombstones
docker/container/prometheus/01JTEP3HNYZM87SWFKF5YWJYKE/chunks/000001
docker/container/prometheus/01JTY45ZDQ72MANSV6RB063KT3/index
docker/container/prometheus/01JTY45ZDQ72MANSV6RB063KT3/meta.json
docker/container/prometheus/01JTY45ZDQ72MANSV6RB063KT3/tombstones
docker/container/prometheus/01JTY45ZDQ72MANSV6RB063KT3/chunks/000001
docker/container/prometheus/01JTZW1PSEFWCFFZEW5H635YAQ/index
docker/container/prometheus/01JTZW1PSEFWCFFZEW5H635YAQ/meta.json
docker/container/prometheus/01JTZW1PSEFWCFFZEW5H635YAQ/tombstones
docker/container/prometheus/01JTZW1PSEFWCFFZEW5H635YAQ/chunks/000001
docker/container/prometheus/01JV7MX8HSPX1PT66XW9DM43Y2/index
docker/container/prometheus/01JV7MX8HSPX1PT66XW9DM43Y2/meta.json
docker/container/prometheus/01JV7MX8HSPX1PT66XW9DM43Y2/tombstones
docker/container/prometheus/01JV7MX8HSPX1PT66XW9DM43Y2/chunks/000001
docker/container/prometheus/01JV7MX8M9EK9GCSMVMD29KY2N/index
docker/container/prometheus/01JV7MX8M9EK9GCSMVMD29KY2N/meta.json
docker/container/prometheus/01JV7MX8M9EK9GCSMVMD29KY2N/tombstones
docker/container/prometheus/01JV7MX8M9EK9GCSMVMD29KY2N/chunks/000001
docker/container/prometheus/01JV7MX8TFZ8PD577RJTR12HCT/index
docker/container/prometheus/01JV7MX8TFZ8PD577RJTR12HCT/meta.json
docker/container/prometheus/01JV7MX8TFZ8PD577RJTR12HCT/tombstones
docker/container/prometheus/01JV7MX8TFZ8PD577RJTR12HCT/chunks/000001
docker/container/prometheus/chunks_head/000003
docker/container/prometheus/chunks_head/000004
docker/container/prometheus/wal/00000038
docker/container/prometheus/wal/00000039
docker/container/prometheus/wal/00000040
docker/container/prometheus/wal/checkpoint.00000037/00000000
docker/container/prometheus/wbl/00000040
