.vscode/launch.json
poc-fiber.log
cert.pem
key.pem
poc-fiber
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/poc-fiber.iml
/.idea/vcs.xml
/.idea/sqldialects.xml
.ansible/.lock
.vscode/settings.json
docs/bruno/POC-FIBER/environments/LOCALHOST.bru
docs/bruno/POC-FIBER/environments/LOCALHOST.bru
docker/.env
docker/container/grafana/**/*.*
docker/container/prometheus/**/*.*
.idea/.gitignore
